@use "../global" as *;

.logos-container {
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
    justify-content: center;

    @media (max-width: 320px) {
        gap: 2rem 1rem;
    }

    @media (min-width: 767px) {
        grid-template-columns: repeat(4, max-content);
        justify-content: center;
    }

    .logos__img {
        img {
            height: 60px;
            opacity: .2;
            transition: .3s;

            @media (min-width: 1023px) {
                height: 100px;
            }

            &:hover {
                opacity: .6;
            }
        }
    }
}