@use "../global" as *;

.subscribe-section {
    padding: 2.5rem 0;
}

.subscribe-container {
    background-color: $first-color;
    padding: 3rem 2rem;
    border-radius: 1.25rem;
    border: 6px solid $first-color-light;
    text-align: center;

    @media (max-width: 320px) {
        padding: 2rem 1rem;
    }

    @media (min-width: 767px) {
        padding: 3rem 13rem;
    }

    @media (min-width: 1023px) {
        padding: 4rem 10rem 4.5rem;
        border-radius: 2rem;
        border: 12px solid $first-color-light;
    }

    &__title {
        font-size: $h2-font-size;
        color: #fff;
        margin-bottom: 1rem;

        @media (min-width: 1024px) {
            font-size: 1.5rem;
        }

        @media (min-width: 1023px) {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
    }

    &__description {
        color: hsl(228, 90%, 92%);
        font-size: $small-font-size;
        margin-bottom: 2rem;

        @media (min-width: 1024px) {
            font-size: .875rem;
        }

        @media (min-width: 1023px) {
            font-size: $normal-font-size;
            padding: 0 8rem;
        }
    }

    &__button {
        border: 2px solid #fff;
        background: $first-color-light;
        font-size: $small-font-size;

        &:hover {
            background-color: $first-color;
        }

        @media (min-width: 1024px) {
            font-size: .875rem;
        }

        @media (min-width: 1023px) {
            font-size: $normal-font-size;
        }
    }
}